<div class="container">
  <div class="row">

    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Swagger Buddy</h3>
      </div>

      <ul class="list-unstyled components">
        <li class="active">
          <a href="#">Compare Swagger Specs</a>
        </li>

        <li>
          <a href="#">Edit Swagger Spec</a>
        </li>

        <li>
          <a href="#">Create Swagger Spec</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Placeholder</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a href="#">Placeholder</a>
            </li>
            <li>
              <a href="#">Placeholder</a>
            </li>
            <li>
              <a href="#">Placeholder</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li>
          <a href="#" class="download">Placeholder</a>
        </li>
        <li>
          <a href="#" class="article">Placeholder</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
